#------------------------------------------------------------------------------
#
#------------------------------------------------------------------------------
service {
    #--------------------------------------------------------------------------
    #  Directory containing our credence(1) key files (id_ed25519 and
    #  id_ed25519.pub) and known_keys file.  The known_keys file contains
    #  the public keys of those multicast listeners to whom we will give
    #  tne multicast encryption key on request, if they can prove their
    #  identity (via signature challenge).
    #--------------------------------------------------------------------------
    keyDirectory = "/usr/local/etc/mclogd";
};

#------------------------------------------------------------------------------
#  mclogd will listen on the loopback interface (127.0.0.1 and/or ::1) as
#  configured.  Today, nothing uses the IPv6 since the Logger class connects
#  via IPv4, but mclogd can listen on ::1 if configured (for future use).
#  Note that unless your host has no IPv4 stack, it is wise to only enable
#  IPv4 here; it is less overhead.
#------------------------------------------------------------------------------
loopback {
   listenV4 = true;    # listen on 127.0.0.1?
   listenV6 = false;   # listen on ::1?
   port = 3737;        # port on which to listen (default 3737)
};

#------------------------------------------------------------------------------
#  Selectors are the operands for filters.  They evaluate to true or false
#  for a given message, based on the match of host, facility, severity
#  and ident.  'host', 'facility' and 'ident' values are all used as
#  regular expressions, and both operators '=' and '!=' are permissible
#  operators.  'minimumSeverity' only accepts the '=' operator, and
#  must be one of "debug", "info", "notice", "warning", "err", "crit", "alert"
#  or "emerg" (the same as syslog(3)).
#
#  The fields in each selector are logically ANDED (&&).  We don't need
#  logical 'OR' (||) here because selectors are just the operands for filter
#  expressions used elsewhere.
#------------------------------------------------------------------------------
selectors {
    myapps = {
        minimumSeverity = "debug";
        ident = "TestLogger|mcblock|mccurtain|mcrover|mctally|qmcrover";
    },
    mydaemons = {
        host = ".+\.(mcplex\.net|rfdm\.com)";
        facility = "local[0-7]";
        minimumSeverity = "info";
        ident = "dwmrdapd|mc(block|curtain|rover|tally|weather)d";
    },
    notmydaemons = {
        ident = "sshd";
    }
};

#------------------------------------------------------------------------------
#  Note that if neither IPv4 nor IPv6 multicast are configured, mclogd will
#  not start the sender and receiver threads for multicast.  This is
#  intentional, just to reduce the overhead in cases where all we want is
#  reception on the loopback address and log file output.
#------------------------------------------------------------------------------
multicast {
    #--------------------------------------------------------------------------
    #  For IPv4, we need the interface address and the multicast group address.
    #--------------------------------------------------------------------------
    intfAddr = "192.168.168.42";
    groupAddr = "239.108.111.103";
    
    #--------------------------------------------------------------------------
    #  For IPv6, we need the interface address, the multicast group address
    #  and the interface name.
    #--------------------------------------------------------------------------
    intfAddr6 = "fd60:3019:f4a:6aaf::39";
    groupAddr6 = "ff02::006d:636c:6f67";
    intfName = "en0";
    
    #--------------------------------------------------------------------------
    #  We use the same destination port for IPv4 and IPv6.
    #--------------------------------------------------------------------------
    port = 3456;

    outFilter = "mydaemons";
};

#------------------------------------------------------------------------------
#  File logger configuration
#------------------------------------------------------------------------------
files {
    logDirectory = "/usr/local/var/logs";

    #-----------------------------------------------------------------------
    #  Where we'll store logs.  Each entry has a filter and a file path
    #  pattern.  If no logs are configured, mclogd will not start the file
    #  logger thread and hence will not write to log files.  This is
    #  intentional, allowing a configuration where the only output is
    #  multicast.
    #
    #  The file path pattern is relative to logDirectory, unless
    #  it starts with '/', in which case it's absolute.  There are 3
    #  substitutions that may be used to construct a path, and they are
    #  based on the message contents:
    #     %H will be replaced by the hostname of the message origin.
    #     %I will be replaced by the message's identity (program name).
    #     %F will be replaced by the message's facility ('user', 'daemon',
    #     'local0', et. al.
    #
    #  If no 'path' is specified, "%H/%I" will be used.
    #
    #  'filter' is a logical expression with selector names as operands
    #  and '(', ')', '!', '||' and '&&' as operators.  An empty filter,
    #  e.g. 'filter = "", will match all messages.  No filter will also
    #  match all messages.
    #
    #  'perms' is an octal value used to set log file permissions.  The
    #  default is 0644.  Legal values are 0600, 0640, 0644 and 0x604 (the
    #  last being very odd).
    #
    #  'period' is the log rollover period.  The default is 1d.  Legal
    #  values:
    #      5m          (5 minutes)
    #      15m         (15 minutes)
    #      30m         (30 minutes)
    #      1h          (1 hour)
    #      2h          (2 hours)
    #      4h          (4 hours)
    #      6h          (6 hours)
    #      8h          (8 hours)
    #      12h         (12 hours)
    #      1d          (1 day)
    #      7d          (7 days)
    #
    #  'keep' is the number of log files to keep during rollover.  The
    #  default is 7.
    #
    #  'user' sets the owning user of the log file.  This is only valid
    #  when mclogd is run as root.
    #
    #  'group' sets the owning group of the log file.  This is only valid
    #  when nclogd is run as root.
    #
    #  'compress' sets the compression used for log file archives.  The
    #  valid choices are "bzip2" (the default) and "gzip".
    #-----------------------------------------------------------------------
    logs {
        { filter="mydaemons"; path="%H/%I"; user="dwm"; group="staff";
          perms=0644; period=1d; keep=7; compress="bzip2"; },
        { filter="myapps"; path="%H/myapps"; perms=0600; }
    };
};
